# OpenTelemetry Environment Variable Specification
# https://opentelemetry.io/docs/reference/specification/sdk-environment-variables/

OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=10.141.159.169:55681
OTEL_RESOURCE_ATTRIBUTES=service.name=fib,application=workshop
SERVICE_NAME=fib
